body{
  color:  red;
  font-family: verdana;
  background-color: black;
}

img {
  width: 100px;
  height: 100px;
}

#home{
  color: green
}



#contact{
  color:orange
}

#inperation{
  color: violet;
}